Repository luca-borrione/coding-katas: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier-package-json --write, yarn-deduplicate

.lintstagedrc.yaml:

'*.{js}':
  - prettier --write
  - eslint --fix
  - jest --bail --findRelatedTests  --passWithNoTests
'*.{yaml,yml,json,md}':
  - prettier --write
package.json:
  - prettier-package-json --write
yarn.lock:
  - yarn-deduplicate

rename repo
  README.md
  eslint.config.mjs
  package.json
Due: prettier --write, prettier-package-json --write

add js 1 implement curry
  exercises/js/1-implement-curry.js
  exercises/js/1-implement-curry.spec.js
Due: none

23 create a sum
  exercises/js/23-create-a-sum.js
  exercises/js/23-create-a-sum.spec.js
Due: none

improve eslint rules
  .nvmrc
  .vscode/settings.json
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write, yarn-deduplicate

add memo
  exercises/js/14-memo.js
  exercises/js/14-memo.spec.js
Due: none

first bad version
  exercises/js/10-first-bad-version.js
  exercises/js/10-first-bad-version.spec.js
Due: none
